@import '@fontsource-variable/noto-sans';

// CSS RESET
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

// GLOBAL STYLES
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans Variable', sans-serif;
  letter-spacing: 0.04em;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

p {
  @include text-style(16px, 150%);
  letter-spacing: 0.005em;

  @media screen and (min-width: 768px) {
    letter-spacing: 0.0175em;
  }
}