// --- Neutral ---
$white: #FFFFFF;
$black: #000000;
$solid-grey-50: #F2F2F2;
$solid-grey-100: #E6E6E6;
$solid-grey-200: #CCCCCC;
$solid-grey-300: #B3B3B3;
$solid-grey-400: #999999;
$solid-grey-420: #949494;
$solid-grey-500: #7F7F7F;
$solid-grey-536: #767676;
$solid-grey-600: #666666;
$solid-grey-700: #4D4D4D;
$solid-grey-800: #333333;
$solid-grey-900: #1A1A1A;

// --- Primitive colors 2.0 ---
// --- Blue ---
$blue-50: #E8F1FE;
$blue-100: #D9E6FF;
$blue-200: #C5D7FB;
$blue-300: #9DB7F9;
$blue-400: #7096F8;
$blue-500: #4979F5;
$blue-600: #3460FB;
$blue-700: #264AF4;
$blue-800: #0031D8;
$blue-900: #0017C1;
$blue-1000: #00118F;
$blue-1100: #000071;
$blue-1200: #000060;

// --- Semantic ---
$success-1: #259D63;
$success-2: #197A4B;
$error-1: #EC0000;
$error-2: #CE0000;
$warning-yl1: #B78F00;
$warning-yl2: #927200;
$warning-or1: #FB5B01;
$warning-or2: #C74700;

// --- Focus ---
$focus-blue: #0877D7;
$focus-yellow: #B78F00;