// --- Space units ---
$space-unit: 8px;
$space-unit-half: 0.5 * $space-unit;
$space-unit-2x: 2 * $space-unit;
$space-unit-3x: 3 * $space-unit;
$space-unit-4x: 4 * $space-unit;
$space-unit-5x: 5 * $space-unit;
$space-unit-6x: 6 * $space-unit;
$space-unit-7x: 7 * $space-unit;
$space-unit-8x: 8 * $space-unit;
$space-unit-13x: 13 * $space-unit;